*.code-workspace
.vscode/
stages/stage2_evolutionary_algorithm/create_image/databases

.DS_Store
*__pycache__

# EA output files.
*output
*stk_ea_runs
!run_template.sh
run*
rate_my_molecule
example_pop.log
stages/stage3_ea_analysis/create_image/case_study*
*results*
.ipynb_checkpoints
run*/tar_ea_run.py
rename.sh
opt_pops
*.tar.gz
*.joblib
primary_amines
example_population
stages/stage3_ea_analysis/create_image*
data
